<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-2">
      <h4>Get In Touch</h4>
      <p>The quick fox jumps over the lazy dog</p>
      <p>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-youtube"></i>
      </p>
    </div>
    <div class="col-lg-2">
      <h4>Company Info</h4>
      <p>About Us</p>
      <p>Career</p>
      <p>We are hiring</p>
      <p>Blog</p>
    </div>
    <div class="col-lg-2">
      <h4>Features</h4>
      <p>Business Markrting</p>
      <p>User Analysis</p>
      <p>Live Chat</p>
      <p>Unlimited Support</p>
    </div>
    <div class="col-lg-2">
      <h4>Resources</h4>
      <p>IOS & Android</p>
      <p>Watch a Demo</p>
      <p>Customers</p>
      <p>API</p>
      <a href="#top" >
        <p class="totop">Go back to the top</p>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: rgb(224, 224, 224)">
  <h6
    style="
      color: grey;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      margin-bottom: 0px;
    "
  >
    Designed by
    <a
      target="_blank"
      rel="noopener"
      rel="noreferrer"
      href="http://www.figmaland.com"
    >
      Figma Land</a
    >...Developed by
    <a
      href="https://www.instagram.com/growing_dev/"
      target="_blank"
      rel="noopener"
      rel="noreferrer"
    >
      Samuel Valentine</a
    >
  </h6>
</div>
