<div class="container">
  <div class="row">
    <!-- Fraud and mislead -->
    <div class="col-sm-12 col-lg-3 service-card">
      <div class="px-0 mx-0">
        <span class="material-icons icons"> gavel </span>
      </div>
      <h5 class="mb-3">Frauds or Mislead</h5>
      <p class="">Frauds or Mislead that we have recovered</p>
      <button type="button" class="btn btn-dark">Dark</button>
    </div>
    <!-- Fraud and mislead -->
    <div class="col-sm-12 col-lg-3 service-card">
      <div class="px-0 mx-0">
        <span class="material-icons icons"> gavel </span>
      </div>
      <h5 class="mb-3">Frauds or Mislead</h5>
      <p>Frauds or Mislead that we have recovered</p>
      <button type="button" class="btn btn-dark">Dark</button>
    </div>
    <!-- Fraud and mislead -->
    <div class="col-sm-12 col-lg-3 service-card">
      <div class="px-0 mx-0">
        <span class="material-icons icons"> gavel </span>
      </div>
      <h5 class="mb-3">Frauds or Mislead</h5>
      <p>Frauds or Mislead that we have recovered</p>
      <button type="button" class="btn btn-dark">Dark</button>
    </div>
    <!-- Fraud and mislead -->
    <div
      class="col-sm-12 col-lg-3 service-card"
      style="background-color: #252b42; color: white"
    >
      <div class="px-0 mx-0">
        <span class="material-icons icons"> gavel </span>
      </div>
      <h5 class="mb-3">Frauds or Mislead</h5>
      <p>Frauds or Mislead that we have recovered</p>
      <button type="button" class="btn btn-light">Light</button>
    </div>
  </div>
  <!-- Who we are section -->

  <h3 class="text-center mt-5" style="font-family: 'Castoro', serif">
    Who we are
  </h3>

  <p class="text-center section-description">
    Problems trying to resolve the conflict between the two major realms of
    Classical physics: Newtonian mechanics
  </p>
  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12">
      <iframe
        height="500"
        width="100%"
        src="https://www.youtube.com/embed/tgbNymZ7vqY"
      >
      </iframe>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-12 pl-4">
      <div class="row">
        <h1 style="font-family: 'Castoro', serif">Most trusted in our field</h1>
      </div>
      <div class="row my-4">
        <h4 style="font-weight: 100">
          Most calendars are designed for teams. Slate is designed for
          freelancers who want a simple way to plan their schedule.
        </h4>
      </div>
      <div class="row my-2">
        <span class="material-icons h1"> groups </span>

        <div class="col">
          <h5 style="font-family: 'Castoro', serif; font-weight: 600">
            Most calendars are designed for teams. Slate is designed for
            freelancers who want a simple way to plan their schedule.
          </h5>
        </div>
      </div>
      <div class="row my-5">
        <span class="material-icons h1"> record_voice_over </span>

        <div class="col">
          <h5 style="font-family: 'Castoro', serif; font-weight: 600">
            Most calendars are designed for teams. Slate is designed for
            freelancers who want a simple way to plan their schedule.
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
