<div
  class="container-fluid mt-5"
  style="background-color: #252b42; color: white"
>
  <div class="container pt-5">
    <div class="row pt-5 mb-5">
      <div class="col-lg-6 pl-0" style="padding-right: 100px">
        <h1 style="font-family: 'Castoro', serif">
          We Have Branches All Over The World!
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quod
          accusantium in blanditiis nam ut reiciendis consequatur nemo tempore,
          aperiam id, repellat ratione itaque!. Ha, na wa o Lorem ipsum dolor
          sit amet consectetur adipisicing elit.
        </p>
      </div>

      <div class="col-lg-6 text-right">
        <img
          class="img-fluid"
          src="../../assets/con1.jpeg"
          alt="image"
          height="200px"
          width="416px"
          style="object-fit: cover"
        />
      </div>
    </div>

    <div class="row consultation">
      <div class="col-lg-4 px-0 consul-image">
        <img
          class="img-fluid"
          src="../../assets/con2.jpeg"
          alt="consultation-image"
        />
      </div>
      <div class="col-lg-8 px-5">
        <!-- Forms Start Here -->

        <form>
          <h2 class="mt-5 mb-4">Request a Free Consultation</h2>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4" autocomplete="username"/>
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="inputPassword4" autocomplete="current-password"/>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputState">Department</label>
              <select id="inputStateDepartment" class="form-control">
                <option selected>Choose...</option>
                <option>Criminal Law</option>
                <option>Family Law</option>
                <option>Law of Tort</option>
                <option>Civil Law</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputState">Time</label>
              <select id="inputStateTime" class="form-control">
                <option selected>Choose...</option>
                <option>8am</option>
                <option>11am</option>
                <option>1pm</option>
                <option>3pm</option>
              </select>
            </div>
          </div>
          <button type="button" class="btn mt-5 btn-primary btn-lg btn-block">
            Book Free Consultation
          </button>
        </form>
        <!-- Forms End Here -->
      </div>
    </div>
  </div>
</div>
<!-- Forms -->
