<div class="container my-5">
  <h3 class="text-center mt-5" style="font-family: 'Castoro', serif">
    What Clients Say
  </h3>

  <p class="text-center section-description">
    Problems trying to resolve the conflict between the two major realms of
    Classical physics: Newtonian mechanics
  </p>
</div>

<div class="container-fluid">
  <div class="row testimonial">
    <div
      class="px-5 pb-4 pt-4 cardd col-lg-3"
      *ngFor="let testimonies of testimonials"
    >
      <img
        [src]="testimonies.imagePath"
        alt="Avatar"
        height="100px"
        width="100px"
        style="border-radius: 50%; object-fit: cover"
      />
      <div>
        <h3 style="font-family: 'Castoro', serif">
          {{ testimonies.name }}
        </h3>
      </div>

      <h4>
        {{ testimonies.occupation }}
      </h4>

      <p>
        {{ testimonies.description }}
      </p>
    </div>
  </div>
</div>

<div class="container my-5">
  <h3 class="text-center mt-5" style="font-family: 'Castoro', serif">
    Meet Our Attorneys
  </h3>

  <p class="text-center section-description">
    Problems trying to resolve the conflict between the two major realms of
    Classical physics: Newtonian mechanics
  </p>
</div>

<div class="container">
  <div
    class="row"
    style="
      display: flex;
      justify-content: space-around;
      background-color: rgb(214, 214, 214);
    "
  >
    <!-- Fraud and mislead -->
    <div class="col-sm-12 col-lg-3 text-center cardd py-5">
      <img
        src="http://placeimg.com/640/480/food"
        alt="Avatar"
        height="100px"
        width="100px"
        style="border-radius: 50%; object-fit: cover"
      />
      <h6 class="mb-3 mt-4" style="color: #d0a144">Lawyer & CEO</h6>
      <h5 class="mb-3">Ashley Fletcher</h5>
      <p class="">Frauds or Mislead that we have recovered</p>
    </div>
    <!-- Fraud and mislead -->
    <!-- Fraud and mislead -->
    <div class="col-sm-12 col-lg-3 text-center cardd py-5">
      <img
        src="http://placeimg.com/640/480/food"
        alt="Avatar"
        height="100px"
        width="100px"
        style="border-radius: 50%; object-fit: cover"
      />
      <h6 class="mb-3 mt-4" style="color: #d0a144">CEO</h6>
      <h5 class="mb-3">Rodney Stratton</h5>
      <p class="">Frauds or Mislead that we have recovered</p>
    </div>
    <!-- Fraud and mislead -->
    <!-- Fraud and mislead -->
    <div class="col-sm-12 col-lg-3 text-center cardd py-5">
      <img
        src="http://placeimg.com/640/480/food"
        alt="Avatar"
        height="100px"
        width="100px"
        style="border-radius: 50%; object-fit: cover"
      />
      <h6 class="mb-3 mt-4" style="color: #d0a144">CIVIL LAW LAWYER</h6>
      <h5 class="mb-3">Avie Beaton</h5>
      <p class="">Frauds or Mislead that we have recovered</p>
    </div>
    <!-- Fraud and mislead -->
    <!-- Fraud and mislead -->
    <div class="col-sm-12 col-lg-3 text-center cardd py-5">
      <img
        src="http://placeimg.com/640/480/food"
        alt="Avatar"
        height="100px"
        width="100px"
        style="border-radius: 50%; object-fit: cover"
      />
      <h6 class="mb-3 mt-4" style="color: #d0a144">CO-FOUNDER & CEO</h6>
      <h5 class="mb-3">Ben Johnson</h5>
      <p class="">Frauds or Mislead that we have recovered</p>
    </div>
    <!-- Fraud and mislead -->
  </div>
</div>
