<!-- Change the colored divs to actual testimonial cards and remove the irrelevant console logsz -->

<button class="btn btn-primary" (click)="checker()">Test ME</button>

<div [ngSwitch]="switchController">
  <div *ngSwitchCase="1">
    <div style="background-color: pink; height: 400px; width: 100%"></div>
  </div>
  <div *ngSwitchCase="2">
    <div style="background-color: green; height: 400px; width: 100%"></div>
  </div>
  <div *ngSwitchCase="3">
    <div style="background-color: blue; height: 400px; width: 100%"></div>
  </div>
  <div *ngSwitchDefault>
    <div style="background-color: red; height: 400px; width: 100%"></div>
  </div>
</div>

<div class="container my-5">
  <h3 class="text-center mt-5" style="font-family: 'Castoro', serif">
   What Clients Say
  </h3>

  <p class="text-center section-description">
    Problems trying to resolve the conflict between the two major realms of
    Classical physics: Newtonian mechanics
  </p>
</div>

<div class="container-fluid">
  <div class="row testimonial">
    <div
      class="px-5 pt-4 cardd col-lg-3"
      *ngFor="let testimonies of testimonials"
    >
      <img
        [src]="testimonies.imagePath"
        alt="Avatar"
        height="100px"
        width="100px"
        style="border-radius: 50%; object-fit: cover"
      />
      <div>
        <h3 style="font-family: 'Castoro', serif">
          {{ testimonies.name }}
        </h3>
      </div>

      <h4>
        {{ testimonies.occupation }}
      </h4>

      <p>
        {{ testimonies.description }}
      </p>
    </div>
  </div>
</div>
